.view-basic{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.card-margin-top{
    margin-top: 15px;
}

.dropdown-menu-margin-right{
    margin-right: 120px;
}

.table-mdb{
    font-size: 14px !important;
}